html {
  height: 100%;
  background-color: #7e91b4;
}

.App {
  text-align: center;
}

h5 {
  padding-top: 5px;
}

.dropdown-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.dropdown-label {
  display: flex;
  margin-bottom: 5px;
}

.dropdown-select {
  display: flex;
  margin-bottom: 5px;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #7e91b4;
}

.filters-div {
  display: flex;
  border-radius: 10px;
  /* border: 2px solid rgba(0, 0, 0, 0.563); */
  background-color: #95b2b0;
  font-size: 14px;
  height: fit-content;
  padding: 10px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.forsale-toggle {
  display: flex;
  flex-direction: row;
}

.nft-display-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  height: fit-content;
  width: 90vw;
  margin-bottom: 15px;
  row-gap: 1vh;
  column-gap: 1vw;
}

.nft-card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 5px;
  width: 20vw;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  /* background-color: rgba(237, 237, 237, 0.278); */
  background-color: white;
  transition: 0.3s;
  padding-bottom: 5px;
}

.nft-card-div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19vw;
  height: calc(0.5625 * 20vh);
}

.nft-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.avatar-img {
  width: 5vw;
  height: 5vh;
  object-fit: contain;
  margin-right: 10px;
}

.avatar-div {
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18vw;
  height: 5vh;
}

.creator-div {
  margin-top: 5px;
  height: fit-content;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.toggle-value {
  display: flex;
  border-radius: 25px;
  width: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(137, 220, 220);
}

.toggle-selected {
  border: 5px solid black;
  background-color: rgb(104, 172, 172);
}

.letter-input-div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.letter-filter-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
}

.letter-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 25px;
}

.search-div {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}

p {
  text-align: center;
}

.sort-div {
  display: flex;
  flex-direction: row;
}

h1 {
  padding-top: 10px;
  text-align: center;
  font-size: 32px !important;
}

.title {
  font-size: 3vw;
}

h5 {
  font-size: 1.5vw !important;
}
h6 {
  font-size: 1.3vw !important;
}

.nav-bar {
  background-color: #95b2b0;
}

.loading-div {
  display: flex;
  height: 20vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1100px) {
  h5 {
    font-size: 16.5px !important;
  }
  h6 {
    font-size: 14.3px !important;
  }
}
